<%- include('../partials/header.ejs') %>
<%- include('../partials/usernav.ejs') %>


	
    <!-- Content -->
    <div class="page-content">
		


		<!-- Call To Action END -->
		<!-- Our Job -->
		<div class="section-full bg-gray pt-3 pb-5">
			<div class="container">
				<div class="d-flex job-title-bx section-head">
					<div class="mr-auto">
						<h2 class="m-b5">Applied Jobs</h2>
					</div>
					
				</div>
				<div class="row">
					<div class="col-lg-9">
						<ul class="post-job-bx">
							<% if(jobs) {%>
							<% jobs.forEach(function(jobs) { %>
										<li>
											<a href="/user/jobdetails/<%= jobs.jobs._id %>"">
												<div class="d-flex m-b30">
													<div class="job-post-company">
														<span><img src="/images/brandLogo/5fb21e814d208a79c6d351a4.png" /></span>
													</div>
													<div class="job-post-info">
														<h4 class="job-time"><%= jobs.jobs.header %></h4>
														<div class="d-flex">
															<div class="job-time mr-auto">
																<span><%= jobs.jobs.companyName %></span>
															</div>
														</div>
														<ul>
															<li><i class="fa fa-map-marker"></i><%= jobs.jobs.location %></li>
															<!-- <li><i class="fa fa-bookmark-o"></i> Full Time</li> -->
															<li><i class="fa fa-briefcase"></i><%= jobs.jobs.minExp %>-<%= jobs.jobs.maxExp %> yrs</li>
															<li><i class="fa fa-clock-o"></i> Published 11 months ago</li>
														</ul>
														<ul>
															<li><%= jobs.jobs.skills %></li>
															<!-- <li><i class="fa fa-clock-o"></i> Published 11 months ago</li> -->
														</ul>
													</div>
												</div>
												<div class="d-flex">
													<div class="job-time mr-auto">
														<span><%= jobs.jobs.workTime %></span>
													</div>
													<div class="salary-bx">
														<span>₹<%= jobs.jobs.minimumSalary %> - ₹<%= jobs.jobs.maximumSalary %></span>
													</div>
												</div>
											</a>
										</li>
										
									
							<% }) %>
						<% } %>
					</ul>
						
					</div>
					
				</div>
			</div>
		</div>

	</div>
	<%- include('../partials/userfooter.ejs') %>

    <!-- scroll top button -->
    <button class="scroltop fa fa-arrow-up" ></button>
</div>


<%- include('../partials/footer.ejs') %>