<%- include('../partials/header.ejs') %>
<%- include('../partials/usernav.ejs') %>


<!--100% body table-->
<table cellspacing="0"  cellpadding="0" width="100%"
style="@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700|Open+Sans:300,400,600,700); font-family: 'Open Sans', sans-serif;">
<tr>
  <td>
    <table style="background-color: #f2f3f8; max-width:670px; margin:0 auto;" width="100%" 
      cellpadding="0" cellspacing="0">
      
      <tr>
        <td>
          <table width="95%"  cellpadding="0" cellspacing="0"
            style="max-width:600px; background:#fff; border-radius:3px; text-align:left;-webkit-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);-moz-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);box-shadow:0 6px 18px 0 rgba(0,0,0,.06);">
            <tr>
              <td style="padding:40px;">
                <table width="100%" cellpadding="0" cellspacing="0">
                  <tr>
                    <td>
                      <h1 style="color: #1e1e2d; font-weight: 500; margin: 0; font-size: 32px;font-family:'Rubik',sans-serif;">Hi <%= usersession.name %>,</h1>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <table width="100%"  cellpadding="0" cellspacing="0">
                          <% if(msg) { %>
                            <% if(msg.legth != 0) { %>
                            <% for(let i = 0; i < msg.length; i++){ %>
                        <tr
                          style="border-bottom:1px solid #ebebeb; margin-bottom:26px; padding-bottom:29px; display:block;">
                          
                          <td style="vertical-align:top;  ">
                            <div style=" background-color: #2e53fa65; padding: 2rem;">
                              <div >
                                <img src="/images/logo/logo/TECH.png" style="width: 3rem; float: left;" alt="">
                                <h5 style="margin-left: 2rem;">Pofck Tech</h5>
                              </div>
                              <br>
                              <h3 style="color: #4d4d4d; font-size: 20px; font-weight: 400; line-height: 30px; margin-bottom: 3px; margin-top:0;">
                                  <strong style="color: white;"><%= msg[0].notification %></strong> 
                              </h3>
                            </div>
                           
                            <!-- <span style="color:#737373; font-size:14px;">5 Minutes Ago</span> -->
                          </td>
                        </tr>
                        <% } %>

                        <% } %>
                        <% }  %>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td style="height:25px;">&nbsp;</td>
      </tr>
      <tr>
        <td style="text-align:center;">
            <p style="font-size:14px; color:#455056bd; line-height:18px; margin:0 0 0;">&copy; <strong>www.rakeshmandal.com</strong></p>
        </td>
      </tr>
      <tr>
        <td style="height:80px;">&nbsp;</td>
      </tr>
    </table>
  </td>
</tr>
</table>

<%- include('../partials/userfooter.ejs') %>

<button class="scroltop fa fa-chevron-up"></button>

<%- include('../partials/footer.ejs') %>

